<app-header></app-header>
<app-background></app-background>

<!-- Mobile Development -->
<div class="skills-container">
  <div class="skills-wrapper">
    <div class="skills-section">
      <h2>Mobile Development</h2>
      <div class="logos-container">
        <div class="logo-item">
          <img src="assets/skills-images/flutter.svg" alt="Flutter" class="skill-logo" />
          <p>Flutter</p>
        </div>
        <div class="logo-item">
          <img src="assets/skills-images/dart.svg" alt="Dart" class="skill-logo" />
          <p>Dart</p>
        </div>
      </div>

    <!-- Web Development -->
      <div class="skills-section">
      <h2>Web Development</h2>
      <div class="logos-container">
        <div class="logo-item">
          <img src="assets/skills-images/angular.svg" alt="Angular" class="skill-logo" />
          <p>Angular</p>
        </div>
        <div class="logo-item">
          <img src="assets/skills-images/typescript.svg" alt="TypeScript" class="skill-logo" />
          <p>TypeScript</p>
        </div>
        <div class="logo-item">
          <img src="assets/skills-images/html.svg" alt="HTML" class="skill-logo" />
          <p>HTML</p>
        </div>
        <div class="logo-item">
          <img src="assets/skills-images/css.svg" alt="CSS" class="skill-logo" />
          <p>CSS</p>
        </div>
        <div class="logo-item">
          <img src="assets/skills-images/javascript.svg" alt="JavaScript" class="skill-logo" />
          <p>JavaScript</p>
        </div>
        <div class="logo-item">
          <img src="assets/skills-images/wordpress.svg" alt="WordPress" class="skill-logo" />
          <p>WordPress</p>
        </div>
      </div>

      <!-- Backend & Services -->
      <div class="skills-section">
      <h2>Backend & Services</h2>
      <div class="logos-container">
        <div class="logo-item">
          <img src="assets/skills-images/firebase.svg" alt="Firebase" class="skill-logo" />
          <p>Firebase</p>
        </div>
      </div>

       <!-- Tools & Version Control -->
      <div class="skills-section" style="margin-bottom: 50px;">
      <h2>Tools & Version Control</h2>
      <div class="logos-container">
        <div class="logo-item">
          <img src="assets/skills-images/git.svg" alt="Git" class="skill-logo" />
          <p>Git</p>
        </div>
         <div class="logo-item">
          <img src="assets/skills-images/github.svg" alt="GitHub" class="skill-logo" />
          <p>GitHub</p>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
